<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
   
    <div>
      <input type="email" placeholder="Seu e-mail" formControlName="email" />
      <p
        *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.value !== null"
      >
        O e-mail é obrigatório
      </p>
      <p *ngIf="registerForm.get('email')?.errors?.['email']">
        Forneça um e-mail válido
      </p>
    </div>
  
    <div>
      <input
        type="password"
        placeholder="Crie uma senha"
        formControlName="password"
      />
      <p
        *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.value !== null"
      >
        A senha é obrigatória
      </p>
      <p *ngIf="registerForm.get('password')?.errors?.['minlength']">
        A senha precisa conter pelo menos 8 caracteres
      </p>
    </div>
  
    <button type="submit">Enviar</button>
  </form>