<div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   
    <label>
      <h5>Email</h5>
      <div id="success-input">
      <input type="email" placeholder="Seu e-mail" formControlName="email" />
      </div>
      <p
        *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.value !== null"
      >
        O e-mail é obrigatório
      </p>
      <p *ngIf="loginForm.get('email')?.errors?.['email']">
        Forneça um e-mail válido
      </p>
    </label>
  
    <label>
      <h5>Password</h5>
      <div id="success-input">
      <input
        type="password"
        placeholder="Crie uma senha"
        formControlName="password"
      />
      </div>
      <p
        *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.value !== null"
      >
        A senha é obrigatória
      </p>
      <p *ngIf="loginForm.get('password')?.errors?.['minlength']">
        A senha precisa conter pelo menos 8 caracteres
      </p>
    </label>
  
    <button type="submit">Enviar</button>
  </form>
</div>  