
<header>
    <h2>Blogspot</h2>
    <nav>
        <ul>
            
            <li>
                <a routerLink="/" routerLinkActive="active"><button>Home</button></a>
            </li>
            
            <li>
                <a routerLink="/register" routerLinkActive="active"><button>Registrar-se</button></a>
            </li>
            
            <li>
                <a routerLink="/login" routerLinkActive="active"><button>Login</button></a>
            </li>
        </ul>    
    </nav>

</header>
