    <div routerLink="/" routerLinkActive="active"><h1>Blog</h1><h2>Spot</h2></div>
    <div class="menu-hamburguer" (click)="toggleNav()">
        <div class="line" [class.change]="isNavVisible"></div>
        <div class="line" [class.change]="isNavVisible"></div>
        <div class="line" [class.change]="isNavVisible"></div>
    </div>
    <nav [class.show-nav]="isNavVisible">
     <button routerLink="/login" routerLinkActive="active">Login</button>   
     <button routerLink="/register" routerLinkActive="active">Registro</button>
    </nav>

