  div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

  h2{
 font-weight: bold;
  }


  form{
  margin-top: 120px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding: 20px;
  width: 60%;  
  height: 50%;
  border: 2px solid var(--grey3);
  box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  gap: 15px;
  }

  label{
  display:flex;
  flex-direction: column;
  gap:6px;
  }

  label > h5{
  color: var(--grey-2);  
  }


  button{
  width: 100%;
  height: 40px;
  border: none;
  background-color:var(--color-primary);
  color: var(--grey-0);
  border-radius: 8px;
  cursor:pointer;
  }

  input {
  width:99%;
  height: 30px;
  border-radius: 8px;
  border: none;
  outline: none;
  }

  label > div {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  }

  #succes-input {
    border: solid 2px var(--color-primary);    
  }

  #Error-message {
    border: solid 2px var(--color-secondary);
  }

  p{
    color:var(--color-secondary);

  }


  @media (min-width: 768px)  {

  
  button{
    width: 50%;
    height: 40px;
    border-radius:12px;
    border: none;
    background-color:var(--color-primary);
    color: var(--grey-0);
    border-radius: 8px;
    cursor:pointer;
   }
  
}
